*
{
    font-family: 'Times New Roman', Times, serif;
}
.big-container
{
    /* border: 5px solid red; */
    margin-left: 0%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: rgb(103, 101, 101); */
}
.nav-bar
{
    width: 100%;
    box-shadow: 2px 2px hsl(0, 0%, 100%);
}
.upper
{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: hsl(0, 0%, 100%);
}
.left-nav
{
    display: flex;
}
.logo
{
    margin-left: 15px;
}
.right-nav
{
    display: flex;
    width: 30%;
}
.line
{
    width: 2px;
    height: 10px;
    background-color: black;
    margin-top: 5px;
    margin-left: 5px;
}
.right-nav
{
    display: flex;
    width: 30%;
}
.medicine
{
    font-size: 15px;
    font-weight: bold;
}
.mid-nav
{
    display: flex;
    width: 90%;
    margin-left: 1%;
}
.mid-nav>.right-nav
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
}
.mid-nav>.left-nav
{
    margin: 10px 10px;
}
.left-nav>div
{
    margin-left: 40px;
}
.p-top
{
    margin-top: 0px;
    margin-left: 20px;
}
.help
{
    margin-left: 5px;
    margin-top: 0px;
}
.need-help
{
    margin-top: 0px;
    margin-left: 90px;
}
.cart 
{
    width: 20px;
    margin-left: 50px;
    margin-top: 0px;
}
.cart>img
{
    max-width: 100%;
}
.signupf
{
    margin-top: 0px;
    margin-left: 8px;
}
.marginforin
{
    margin-top: 10px;
}
.location
{
    margin-left: 15px;
}
.quick
{
    margin-top: 10px;
    margin-left: 20px;
}
.contant-mid
{
    color: grey;
    font-size: 20px;
    margin-top: 40px;
    background-color: #FAFAFA;
}
.location>input[placeholder="New Delhi"]
{
    color: black;
}
.but 
{
    width: 150px;
    color: white;
    border-radius: 5px;
    margin-left: 50px;
    background-color: #E74C3C;
}
.upload
{
    margin-top: 10px;
    margin-left: 50px;
}
.middle
{
    width: 100%;
    height: 40px;
    display: flex;
}
.location .search,
.searchproduct 
{
    width: 700px;
    font-size: 15px;
}
.searchproduct
{
    margin-left: 40px;
}

/* dropdowm */

.dropdown
{
    display: inline-block;
    position: relative;
}
.dropdown-content
{
    display: none;
    position: absolute;
    width: 200%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-content a
{
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

/* dropdown-1 */

.dropdown1
{
    display: flex;
    margin-top: 10px;
}

.dropdown1>div
{
    margin-left: 20px;
    margin-top: 0px;
}

.dropdown1 a
{
    display: block;
    color: #000000;
    padding: -1px;
    text-decoration: none;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    width: 300%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.links
{
    font-size: 14px;
    font-weight: 400;
}

.links:hover
{
    color: #FF5722;
}

.dropdown:hover.dropdown-content
{
    display: block;
}

.dropdown-content a
{
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover 
{
    color: #ffffff;
    color: #FF5722;
}
.lower
{
    width: 100%;
    height: 30px;
}

/* slider */

.slider-cont
{
    width: 100%;
    display: flex;
}
.slider-cont img
{
    max-width: 100%;
    height: 100%;
}
.poster
{
    flex-basis: 40%;
}
.deeplower
{
    width: 100%;
    height: 100px;
    border: 1px solid grey;
    font-size: 20px;
    text-align: center;
}
.fullbody
{
    width: 100%;
    padding: 2% 1%;
}
.imgoffullbody {
    width: 70%;
    margin: auto;
    border: 1px solid green;
    background-color: #BDBDBD;
}


/* carousel*/

.carousel-parent 
{
    overflow: hidden;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}
.carousel-container
{
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s linear;
}
.carousel-item
{
    flex-shrink: 0;
    width: 100%;
}
.carousel-item>img
{
    max-width: 100%;
}

/* dabur product */
.daburproduct {
    width: 100%;
    background-color: #FAFAFA;
    display: grid;
    margin-left: 180px;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    margin-left: 0px;
    margin-bottom: 80px
}


/* muscleblazeproduct */

.muscleblazeproduct {
    width: 100%;
    background-color: #FAFAFA;
    display: grid;
    margin-left: 180px;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    margin-left: 0px;
    margin-bottom: 80px;
}

.contentproduct {
    color: black;
    font-size: 16px;
    margin-left: 10px;
}

.productdab {
    margin-top: -2px;
    height: fit-content;
}

.productdab:hover {
    box-shadow: 0px 0px 18px rgba(31, 30, 30, 0.2);
    border-radius: 15px;
}

.producttab1 {}

.prodimg>img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.imgoffullbody {
    width: 70%;
    margin: auto;
    border: 1px solid green;
    background-color: #BDBDBD;
}

.contentproduct {
    margin-bottom: 4px;
}

.starrate {
    background-color: #4CAF50;
    color: white;
    margin-top: 0px;
    margin-left: 10px;
    width: 30px;
}

.rating {
    display: flex;
    width: 100%;
}

.mrp {
    margin-top: 5px;
    margin-left: 10px;
}

.realprice {
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 10px;
}

.perctoff {
    color: #4CAF50;
    margin-left: 10px;
}

.descriptionprod {
    color: grey;
    margin-top: 3px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.imgoffullbody>img {
    max-width: 100%;
}

.leftnav>div:hover {
    color: red;
    cursor: grabbing;
}

.package {
    width: 100%;
    background-color: honeydew;
}